#############
## file
#############
.idea
__pycache__

# Contributor Covenant Code of Conduct

We as members, contributors, and leaders pledge to make participation in our
size, visible or invisible disability, ethnicity, sex characteristics, gender

diverse, inclusive, and healthy community.

## Our Standards

* Being respectful of differing opinions, viewpoints, and experiences
* Giving and gracefully accepting constructive feedback
* Accepting responsibility and apologizing to those affected by our mistakes,
  community
* The use of sexualized language or imagery, and sexual attention or advances of
  any kind
* Trolling, insulting or derogatory comments, and personal or political attacks
* Public or private harassment
  professional setting
## Enforcement Responsibilities

Community leaders are responsible for clarifying and enforcing our standards of
response to any behavior that they deem inappropriate, threatening, offensive,
Community leaders have the right and responsibility to remove, edit, or reject
comments, commits, code, wiki edits, issues, and other contributions that are
decisions when appropriate.

This Code of Conduct applies within all community spaces, and also applies when
Examples of representing our community include using an official e-mail address,
representative at an online or offline event.
## Enforcement
Instances of abusive, harassing, or otherwise unacceptable behavior may be
reported to the community leaders responsible for enforcement at
All complaints will be reviewed and investigated promptly and fairly.

All community leaders are obligated to respect the privacy and security of the

the consequences for any action they deem in violation of this Code of Conduct:
### 1. Correction
unprofessional or unwelcome in the community.

**Consequence**: A private, written warning from community leaders, providing
### 2. Warning

**Community Impact**: A violation through a single incident or series of
**Consequence**: A warning with consequences for continued behavior. No
interaction with the people involved, including unsolicited interaction with
ban.

### 3. Temporary Ban

**Community Impact**: A serious violation of community standards, including
sustained inappropriate behavior.
communication with the community for a specified period of time. No public or
private interaction with the people involved, including unsolicited interaction
Violating these terms may lead to a permanent ban.

### 4. Permanent Ban

**Community Impact**: Demonstrating a pattern of violation of community
standards, including sustained inappropriate behavior, harassment of an

## Attribution

This Code of Conduct is adapted from the [Contributor Covenant][homepage],
[https://www.contributor-covenant.org/version/2/1/code_of_conduct.html][v2.1].
Community Impact Guidelines were inspired by
[https://www.contributor-covenant.org/faq][FAQ]. Translations are available at
[homepage]: https://www.contributor-covenant.org
[v2.1]: https://www.contributor-covenant.org/version/2/1/code_of_conduct.html
[Mozilla CoC]: https://github.com/mozilla/diversity